h2 {
	font-size:24px;
}

h4 {
	font-family: Arial;
}

td {
	color: green;
	font-weight: bold;
}

.image {
	background-image:url('http://cdn.beggars.com.s3-eu-west-1.amazonaws.com/adele/wp-content/uploads/2015/10/01091631/adele-25-packshot.jpg');
	background-position: center, top;
 	background-repeat: no-repeat;
 	height: 500px;
 	width: 	500px;
 	background-size: 500px 500px;
}

.style 	{
 	font-style: italic;
}
		
@font-face {
		font-family: "Source Code Pro";
 		font-size: 24px;
 		font-style: normal;
 		font-weight: 500;
		src:url("https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD4a1YDtoarzwSXxTHggEXMw.woff2");
}

